.popup{
  display: none;
  visibility: hidden;
}

.popup.popup_opened{
  display: flex;
  visibility: visible;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.popup__form{
  background-color: white;
}