.popup{
  display: none;
  visibility: hidden;
  border-radius: 3px;
  /* max-width: 25%; */
  min-width: 20%;
  align-self: center;
  padding: 10px;
  /* background-color: rgba(8, 130, 255, 0.7); */
  background-color: rgba(255, 87, 49, 0.4);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  /* color: white; */
}

.popup.popup_opened{
  display: flex;
  visibility: visible;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__form{
  display: flex;
  flex-direction: column;
}

.popup__title{
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.popup__button{
  margin-bottom: 4px;
}

.popup__button:last-child{
  margin-bottom: 0px;
}
