@import url(./components/Gallery/Gallery.css);
@import url(./components/GalleryItem/GalleryItem.css);
@import url(./components/Header/Header.css);
@import url(./components/Popup/Popup.css);

.App{
  display: flex;
  flex-direction: column;
}

.add-button{
  margin: 14px;
  width: 200px;
  height: 100px;
  text-align: center;
  align-self: center;
  font-size: 20px;
  border-radius: 20px;
}
.add-button:hover{
  cursor: pointer;
  background-color: rgb(163, 122, 122);
  transition: 600ms;
  
}